<%- include('../partial/head') %>
</head>
<body>
 <%- include('../partial/nav') %>
   
  
  <main class="container mx-auto mt-8 p-4">
      <div class="bg-white shadow-md rounded-lg p-6 text-center">
        <h1 class="text-9xl font-bold text-red-500 mb-4">Booking</h1>
    <p class="text-xl font-bold">We are coming soon...</p>
    <a href="/" class="inline-block mt-6 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-400 transition duration-300">Return to Home</a>
  </main>
  
</body>
</html>