<div>
  <form class="w-full" action="/favouraties" method="post">
    <button
      type="submit"
      class="w-full bg-red-500 text-white py-3 rounded-lg font-bold hover:bg-red-600 mb-4"
    >
      Add To Favorities
    </button>
    <input type="hidden" name="postId" value="<%= home.id %>" />
  </form>
</div>
